<div class="row">
    <div class="col-10">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-1">
        <a asp-action="Create">Create New</a>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-secondary text-nowrap" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            検索条件
        </button>
    </div>
</div>
