@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>2. CRUDのスキャフォールディング</h2>
<div>
    <a href="https://github.com/no29571/WebAppMvcOracle/tree/ex-crud">GitHub：ex-crud</a>
</div>
<ol>
    <li>Modulesフォルダで「追加（クラス - インターフェイス）」</li>
    <li>更新日時を共通項目として定義（IHasTimestamps.cs）</li>
    <li>ApplicationDbContextクラスに更新日時設定の処理を追加</li>
</ol>
<ol>
    <li>Modulesフォルダで「追加（クラス）」</li>
    <li>モデルクラスにフィールドを定義</li>
    <li>モデルクラスにIHasTimestampsを実装</li>
    <li>Controllersフォルダで「追加（新規スキャフォールディングアイテム）」</li>
    <li>「Entity Frameworkを使用したビューがあるMVCコントローラー」</li>
    <li>モデルクラスとDbContextクラスを選択</li>
    <li>追加</li>
    <li>※ 新規DbContextクラスの場合は、ここでデータベースプロバイダーを指定するとDB接続が設定される</li>
</ol>
<ol>
    <li>Create.cshtmlとEdit.cshtmlでの更新日時の入力は不要のため調整</li>
    <li>コントローラークラスにアクセス制限[Authorize]を設定</li>
    <li>Views/Shared/_Layout.cshtmlに「nav-item」を追加（ヘッダーメニューにリンクを追加）</li>
</ol>
<ol>
    <li>ApplicationDbContextクラスに追加されたモデルをマイグレーションでDBに反映</li>
    <li>※ 他にフィールドの追加・削除あればあわせてマイグレーション</li>
    <li>パッケージマネージャーコンソール</li>
    <li>Add-Migration XXX</li>
    <li>Update-Database</li>
</ol>

<h2>1. Oracleで個別のアカウントを使用する</h2>
<div>
    <a href="https://github.com/no29571/WebAppMvcOracle/tree/ex-oracle">GitHub：ex-oracle</a>
</div>
<ol>
    <li>Visual Studio Community</li>
    <li>ファイル - 新規作成 - プロジェクト - ASP.NET Core Webアプリ（MVC）</li>
    <li>認証の種類「個別のアカウント」</li>
    <li>作成</li>
</ol>
<ol>
    <li>ツール - NuGetパッケージマネージャ - ソリューションのNuGetパッケージの管理</li>
    <li>【追加でインストールする】Oracle.EntityFrameworkCore</li>
    <li>【必要に応じてバージョン調整（更新プログラムのインストール）】</li>
    <li>Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore</li>
    <li>Microsoft.AspNetCore.Identity.EntityFrameworkCore</li>
    <li>Microsoft.AspNetCore.Identity.UI</li>
    <li>Microsoft.EntityFrameworkCore.SqlServer</li>
    <li>Microsoft.EntityFrameworkCore.Tools</li>
    <li>【後で自動追加される】Microsoft.VisualStudio.Web.CodeGeneration.Design</li>
</ol>
<ol>
    <li>Programs.cs「UseSqlServer」→「UseOracle」</li>
    <li>appsettings.json「ConnectionStrings」変更</li>
</ol>
<pre>
--sqlplus system/password@localhost:1521/XEPDB1

CREATE USER ex_vs
IDENTIFIED BY "example"
DEFAULT TABLESPACE users
TEMPORARY TABLESPACE temp;

GRANT dba TO ex_vs;
</pre>
<ol>
    <li>Data/Migrations配下のcsファイルを削除（SQLServer用のため）</li>
    <li>表示 - その他のウィンドウ - パッケージマネージャーコンソール</li>
    <li>（省略）Enable-Migrations</li>
    <li>Add-Migration XXX</li>
    <li>Update-Database</li>
</ol>
<ol>
    <li>_EFMigrationsHistory</li>
    <li>AspNetRoleClaims</li>
    <li>AspNetRoles</li>
    <li>AspNetUserClaims</li>
    <li>AspNetUserLogins</li>
    <li>AspNetUserRoles</li>
    <li>AspNetUsers</li>
    <li>AspNetUserTokens</li>
    <li>※ SQLではテーブル名を「"」で囲む</li>
</ol>
<ol>
    <li>Views/Shared/_Layout.cshtml「html lang="en"」→「html lang="ja"」</li>
    <li>「IIS Express」を選択して実行</li>
    <li>test@example.com</li>
    <li>AUVY.cRwef:JMH2</li>
</ol>
